<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit task</title>
</head>
<body>
<div th:include="header.html"></div>
<div th:if="${notexist}">
    <div> Task not found</div>
</div>
<div th:unless="${notexist}">
<form th:action="@{'/tasks/edited/' + ${editId}}">
    <h4>edit task</h4>
    <div>
        <label for="title">title: </label>
        <input type="text" name="title" id="title" th:value="${editTitle}">
    </div>
    <div>
        <label for="description">description: </label>
        <input type="text" name="description" id="description" th:value="${editDescription}">
    </div>
    <div>
        <label for="date">due-date: </label>
        <input type="datetime-local" name="date" id="date"  th:value="${editDate}">
    </div>


    <input type="submit" value="edit">
</form>
</div>
</body>
</html>