<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{newt}"></title>
</head>
<body>
<div th:include="header.html"></div>
<form method="post" action="/" th:object="${taskdto}">
    <h4 th:text="#{addt}"></h4>
    <p th:text="${#fields.globalErrors()}"></p>
    <div>
        <label for="title" th:text="#{title}"> </label>
        <input id="title" type="text"  th:field="*{title}">
        <p th:errors="*{title}"></p>
    </div>
    <div>
        <label for="description" th:text="#{description}"> </label>
        <input type="text" id="description" th:field="*{description}" >
        <p th:errors="*{description}"></p>
    </div>
    <div>
        <label for="date" th:text="#{duedate}"> </label>
        <input type="datetime-local" id="date" th:field="*{date}">
    </div>

    <input type="submit" th:value="#{addt}">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('new?lang=' + selectedOption);
            }
        });
    });
</script>
</body>
</html>