<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>new task</title>
</head>
<body>
<div th:include="header.html"></div>
<form method="post" action="/tasks">
    <h4>Add task</h4>
    <div>
        <label for="title">title: </label>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <label for="description">description: </label>
        <input type="text" name="description" id="description">
    </div>
    <div>
        <label for="date">due-date: </label>
        <input type="datetime-local" name="date" id="date" >
    </div>

    <input type="submit" value="Add task">
</form>
</body>
</html>