<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{task}"></title>
</head>
<body>
<div th:include="header.html"></div>
<div th:if="${notask}">
    <div th:text="#{tnf}"></div>
</div>
<div th:unless="${notask}">
    <h4 th:text="#{taskd}"></h4>

    <table >
        <thead>
        </thead>
        <tbody>
        <tr>
            <td th:text="#{title}"> </td>
            <td th:text="${title}" ></td>
        </tr>
        <tr>
            <td th:text="#{description}"> </td>
            <td th:text="${description}" ></td>
        </tr>
        <tr>
            <td th:text="#{duedate}"> </td>
            <td th:text="${duedate}" ></td>
        </tr>
        <tr th:each="task : ${subtasks}">
            <td th:text="#{subtask}"></td>
            <td th:text="*{task.title}"></td>
            <td th:text="*{task.description}"> /td>
        </tr>
        <a th:href="@{'/tasks/edit/' + ${taskid}}" th:text="#{editt}" ></a>
        <a th:href="@{'/tasks/' + ${taskid} + '/sub/create'}" th:text="#{creates}" ></a>
        <div id="taskid" th:value="${taskid}" style="display: none"></div>

        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            var taskid = $('#taskid').val();
            if (selectedOption != ''){
                window.location.replace(taskid + '?lang=' + selectedOption);
            }
        });
    });
</script>
</body>
</html>
